.Bwrapper {
    display: flex;
    flex-direction: row;
}

.Bwrapper .Bwrapper__left {
    width: 10%;
}

.Bwrapper .Bwrapper__content {
    width: 80;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bwrapper .Bwrapper__right {
    width: 10%;
}

.boardBox {
    width: 700px;
    height: 80px;
    border:  1px solid #999;
    box-shadow:  4px 4px 4px #999;
    border-radius: 3px;
    margin-bottom: 5px;
}